@import "tailwindcss"; /* v4+ main import syntax */

/* Optional base resets if you need them */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply overflow-x-hidden font-[Poppins] font-normal text-black;
  }
}

/* Your custom theme variables */
@theme {
  --font-cinzel: "Cinzel", serif;
  --color-main: rgb(245, 245, 220);
  --color-accent: #60ff42;
  --xl4: 5px 5px 5px 0px black;
  --spin-slow: spin 8s linear infinite;
  --med: 900px;
  --sm: 400px;
}

/* ⚠️ Must come AFTER @theme */
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 225, 225, 225;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
.overlay::before {
  position: fixed;
  content: "";
  pointer-events: none;
  z-index: 1500;
  background-color: red;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  background-image: url(../public/giphy.gif);
  opacity: 0.09;
}
.cursor:hover {
  cursor: url("../public/cursor.gif");
}
.line-hr {
  display: flex;
  gap: 3px;
  justify-content: center;
  text-transform: capitalize;
  align-items: center;
}
.line-hr::before {
  content: "";
  width: 100px;
  display: inline-block;
  border-radius: 999px;
  height: 3px;
  background-color: black;
}

.line-vr-after::after {
  content: "";
  height: 80px;
  display: inline-block;
  border-radius: 999px;
  width: 1px;
  background-color: black;
}
.line-vr-before::before {
  content: "";
  height: 100px;
  display: inline-block;
  border-radius: 999px;
  width: 1px;
  background-color: black;
}
