@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 225, 225, 225;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
.overlay::before {
  position: fixed;
  content: "";
  pointer-events: none;
  z-index: 1500;
  background-color: red;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  background-image: url(../public/POSTER-15.png);
  opacity: 0.02;
}
.cursor:hover {
  cursor: url("../public/cursor.gif");
}
